APP_NAME="Nyatet Barang"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:8000

DB_CONNECTION=mysql
DB_HOST=db
DB_PORT=3306
DB_DATABASE=nyatet_barang
DB_USERNAME=nyatet_user
DB_PASSWORD=nyatet_password
